<div class="section-header">
    <h2>Reach me out</h2>
</div>

<div class="section-content">
    <div class="social">
        <h3 class="subheader">Find me on</h3>
        <div class="icons-grid">
            <div class="social-link">
                <a href="https://github.com/islammohamedd1" target="_blank">
                    <i class="default-text-color fab fa-github primary-text-hover"></i>
                </a>
            </div>
            <div class="social-link">
                <a href="https://www.twitter.com/islammohamedd1" target="_blank">
                    <i class="default-text-color fab fa-twitter-square primary-text-hover"></i>
                </a>
            </div>
            <div class="social-link">
                <a href="https://www.linkedin.com/in/islam-mohamed-33a675165" target="_blank">
                    <i class="default-text-color fab fa-linkedin primary-text-hover"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="social">
        <h3 class="subheader">Email me at</h3>
        <div class="email-link">
            <a href="mailto:islammohamedd1@gmail.com" target="_blank">islammohamedd1@gmail.com</a>
        </div>
    </div>
</div>