<nav>
    <mat-toolbar color="primary">
        <div class="brand" color="accent">
            <h2 class="primary-border">Islam Mohamed</h2>
        </div>
        <span class="spacer"></span>
        <ul class="links">
            <li class="hover-border">
                <a routerLink="">Home</a>
            </li>
            <li class="hover-border">
                <a href="/#projects">Projects</a>
            </li>
            <li class="hover-border">
                <a href="/#contact">Contact</a>
            </li>
        </ul>
        <div class="actions">
            <button (click)="onSwitchClick()">
                <mat-icon svgIcon="brightness" aria-hidden="false" aria-label="Switch theme"></mat-icon>
            </button>
        </div>
    </mat-toolbar>
</nav>
