<nav>
    <mat-toolbar color="primary">
        <div class="brand" color="accent">
            Islam Mohamed
        </div>
        <span class="spacer"></span>
        <ul class="links">
            <li>
                <a href="#projects">Projects</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
        <div class="actions">
            <button (click)="onSwitchClick()">
                <mat-icon svgIcon="brightness" aria-hidden="false" aria-label="Switch theme"></mat-icon>
            </button>
        </div>
    </mat-toolbar>
</nav>
