mat-toolbar {
    padding-top: 38px;
    padding-bottom: 38px;
}

.spacer {
    flex: 1 1 auto;
}

@media(max-width: 700px) {
    .links {
        display: none;
    }
}

.links {
    list-style: none;
    li {
        display: inline-block;
        margin-right: 8px;
        margin-left: 8px;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

.actions button, .actions button:focus {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 40px 20px;
}

.brand h2 {
    font-size: 2em;
    font-weight: bold;
}