.section-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    column-gap: 40px;
    row-gap: 100px;
    justify-items: center;
    justify-content: center;

    .project-card {
        mat-card-title {
            font-size: 2em;
            font-weight: bold;
        }
        
        .technologies {
            color: #888888;
            font-size: 1.5em;
        }

        img {
            // width:50%;
            max-width: 100%;
        }
    }
}